<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="or.nevet.orexercises" >

    <application>
        <activity
            android:name=".main.ExerciseCreationTableActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.PracticeExerciseActivityWithoutScore"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.PracticeExerciseActivityWithScore"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.MultiplayerExerciseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.TableActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".helpers.visual.multiplayer_list_activities.EndGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".helpers.visual.multiplayer_list_activities.ReadyUsersListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".helpers.visual.multiplayer_list_activities.ShowGameDataBeforeNextGame"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".main.ExerciseService"
            android:enabled="true"
            android:exported="true"
            android:label="ExerciseService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".helpers.logic.exercise_mechanism.high_level.PowerReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>